<html>
<head>
    <title>
        LFC Raleigh - Official Liverpool Supporters Club
    </title>
</head>


<body>
<h2>Welcome to LFC Raleigh</h2>


<a href="/">News</a>
<a href="/about">About Us</a>
<a href="/membership">Membership</a>
<a href="/calendar">Upcoming Events</a>
<a href="/admin-login">Admin Login</a>

<h2>Thanks for your payment!</h2>
<h3>See receipt below</h3>


Insert Paypal stuff here
</body>
</html>