<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        LFC Raleigh - Official Liverpool Supporters Club
    </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/template.css">
</head>


<body>

<!-- jQuery and bootstrap js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>



<div class="container-fluid row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <img src="JFT96 header.jpeg" width="100%">
        <div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
            <div class="container-fluid">
                <div class="navbar-header"><a class="navbar-brand" href="#">LFC Raleigh</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-menubuilder">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="/">Back to the Home Page</a></li>
                        <li><a href="/member-lookup">Member Query</a></li>
                        <li><a href="/manage-news">Manage News</a></li>
                        <li><a href="/manage-events">Manage Events</a></li>
                        <li></l><a href="/tweet">Get Yo Tweet On</a></li>
                        <li><a href="/logout">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div>

        {{#member}}
        <form action="/edit-member" method="post">
            <input type="text" name="firstName" value="{{firstName}}"/>
            <input type="text" name="lastName" value="{{lastName}}"/>
            <input type="text" name="email" value="{{email}}"/>
            <input type="checkbox" name="currentDues" value="{{currentDues}}"><label for="currentDues">Paid current year's dues?</label>
            <input type="checkbox" name="joinMailingList" value="{{joinMailingList}}"><label for="joinMailingList">Join mailing list?</label>
            <input type="checkbox" name="receivedSwag" value="{{receivedSwag}}"><label for="receivedSwag">Received this year's swag?</label>
            <input type="hidden" name="id" value="{{id}}">
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
        {{/member}}
    </div>
    <div class="col-md-1"></div>

</div>
</body>
</html>