<html>
<head>
    <title>
        LFC Raleigh - Admin Panel
    </title>
</head>


<body>
<h2>LFC Raleigh Administration</h2>


<a href="/">Back to the Home Page</a>
<a href="/member-lookup">Member Query</a>
<a href="/manage-news">Manage News</a>
<a href="/manage-events">Manage Events</a>
<a href="/tweet">Get Yo Tweet On</a>
<a href="/logout">Log Out</a>

<form action="manage-news" method="post">
    <input type="text" name="title" placeholder="Title" size="102"><br>
    <textarea name="body" placeholder="News goes here!" cols="100" rows="10"></textarea><br>
    <button type="submit">Post it!</button>
</form>


</body>
</html>